extends ../layouts/master

block content
  .container-fluid
    .row
      .col-md-12
        if (incidents.length > 0)
          | Reports
          each incident, i in incidents
            .card.mb-2
              h6.card-header #{incident.status}
              .card-body
                h5.card-title #{incident.location}
                p.card-text #{incident.issue}
                p.card-text.text-muted.small #{incidentDates[i]}
        else 
          p.text-muted Nothing to show for Incident Reports
        
        | Announcements
        if (announcements)
          each announcement, i in announcements
            .card.mb-2
              h6.card-header #{announcement.title}
              .card-body
                h5.card-title #{announcement.schedule}
                p.card-text #{announcement.content}
                p.card-text.text-muted.small #{'in ' + announceDates[i]}
        else
          p.text-muted No announcements to show

 