extends ../layouts/master

block styles
  //- link(rel='stylesheet', href='/stylesheets/home.css')
  link(rel='stylesheet', href='/stylesheets/dashboard.css')
block content
  .container-fluid
    .row
      main.col-md-9.ml-sm-auto.col-lg-10.pt-3.px-4(role='main')
            .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pb-2.mb-3.border-bottom
              h1.h3 Dashboard
            .my-3.bg-white.rounded.box-shadow#announcement-body
              if messages
                each message in messages
                  p.text-success.mt-3 #{message}
 
              if (announcements)
                each announcement, i in announcements
                  section
                    .media.pt-3
                      p.media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray
                        strong.d-block.text-gray-dark #{announcement.title}
                        span.d-block.text-muted #{announcement.content}
                        span.d-block.text-muted #{announceDates[i]}
                        span.d-block.text-muted.pt-2 #{'in ' + announceDatesPretty[i]}
                      if user.is_admin
                        form(method='GET', action='/dashboard/announcement')
                          input(type='hidden', name='id' value='#{announcement._id}')
                          button(type='submit').small edit

                else 
                  .media.text-muted.pt-3
                    p.media-body.pb-3.mb-0.small.lh-125.border-bottom.border-gray.text-center
                      strong.d-block.text-gray-dark No Announcements
                  //- small.d-block.text-right.mt-3
                  //-   a(href='#') View all announcements
  script(src='/bower_components/jquery/dist/jquery.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js')
  script(src='/javascripts/tablefilter.js')
        