extends ../layouts/master
block styles
  link(rel='stylesheet', href='/stylesheets/user/login.css')
  
block nav

block sideNav

block content
  .container
    .row.text-center
      form.form-signin(method='POST', action='/user/edit')
        input(type='hidden', value='#{formDetails._id}', required='true', name='_id')
        h1.h3.mb-3.font-weight-normal Update Accounts
        if formDetails 
          label.sr-only(for='name') Name
          input.form-control(type='text', placeholder='Name', required='true', name="name", value='#{formDetails.name}')

          label.sr-only(for='name') Type
          select.form-control(required='true', name='type')
            option Owner
            option Tenant

          label.sr-only(for='email') Unit
          input.form-control(type='text', placeholder='Unit number', required='true', name="unit", value='#{formDetails.unit}')

          label.sr-only(for='email') Email
          input.form-control(type='email', placeholder='Email', required='true', name="email", value='#{formDetails.email}')

          label.sr-only(for='username') Username
          input.form-control(type='text', placeholder='Username', required='true', name="username", value='#{formDetails.username}')

        else 
          label.sr-only(for='name') Name
          input.form-control(type='text', placeholder='Name', required='true', autofocus='', name="name")

          label.sr-only(for='name') Type
          select.form-control(required='true', autofocus='', name='type')
            option Owner
            option Tenant

          label.sr-only(for='email') Unit
          input.form-control(type='text', placeholder='Unit number', required='true', autofocus='', name="unit")

          label.sr-only(for='email') Email
          input.form-control(type='email', placeholder='Email', required='true', autofocus='', name="email")

          label.sr-only(for='username') Username
          input.form-control(type='text', placeholder='Username', required='true', autofocus='', name="username")

          label.sr-only(for='userType') User Type
          select.form-control(required='true', autofocus='', name='userType')
            option User
            option Admin
        
        
        div.mb-3.mt-2
          a(href='/dashboard/home') Go back to dashboard
            
        button.btn.btn-md.btn-primary.btn-block(type='submit') Update  
        if formDetails
          if !(formDetails.is_validated)
            a.btn.btn-md.btn-outline-primary.btn-block(href='/dashboard/accounts/activate/#{formDetails._id}')
              | Activate
          else 
            a.btn.btn-md.btn-outline-primary.btn-block(href='/dashboard/accounts/deactivate/#{formDetails._id}')
              | Deactivate
           
        //- p.mt-5.mb-3.text-muted &copy; 2017-2018

        if errors
            p.text-danger.mt-3 #{errors[0].msg}


